---
import Icon from "./Icon.astro";
---

<theme-toggle>
  <button
    id="darkModeToggle"
    class="rounded-full p-2 hover:bg-gray-200 dark:hover:bg-gray-800"
  >
    <span class="sr-only">Dark theme</span>
    <span class="hidden dark:inline"><Icon icon="sun" size="1.4em" /></span>
    <span class="dark:hidden"><Icon icon="moonStars" size="1.4em" /></span>
  </button>
</theme-toggle>

<script>
  const darkModeToggle = document.getElementById("darkModeToggle");
  const html = document.documentElement;

  darkModeToggle?.addEventListener("click", () => {
    html.classList.toggle("dark");
    localStorage.setItem(
      "darkMode",
      html.classList.contains("dark") ? "true" : "false",
    );
  });

  // Check for saved dark mode preference
  if (
    localStorage.getItem("darkMode") === "true" ||
    (!localStorage.getItem("darkMode") &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    html.classList.add("dark");
  }
</script>
